{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
            <p class="error">{{user_error}}</p>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
            <p class="error">{{password_error}}</p>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
            <p class="error">{{verify_error}}</p>
        </tr>
    </table>
    <input type="submit" value="Signup">
</form>
{% endblock %}